name: 'Basic workflow'

on:
  workflow_dispatch:
    inputs:
      changed-files:
        description: 'Comma-separated list of changed files'
        required: true
      
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello

    steps:
      - name: Say hello
        run: echo 'Hello'
        
      - name: Print Changed Files
        run: |
          IFS=',' read -ra CHANGED_FILES <<< "${{ github.event.inputs.changed-files }}"
          for file in "${CHANGED_FILES[@]}"; do
            echo "Changed File: $file"
          done
